@font-face {
	font-family: "Quadrit";
	src: url("../css/Quadrit.ttf");
}

* {
	font-family: Quadrit, sans-serif;
	font-size: 20px;
	color: #fff;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #111;
	position: fixed;
	overflow: hidden;
}

#home h1 {
	text-align: center;
	font-size: 78px;
}
#presentation {
	position: absolute;
	margin: auto;
	padding: 0px;
	left: 0px;
	right: 0px;
	top: 200px;
	width: 500px;
	height: 250px;
	text-align: center;
}
#home #presentation #start {
	background-color: #000;
	border: 1px solid #fff;
	text-align: center;
	padding: 1rem;
	min-width: 44px;
	min-height: 44px;
	cursor: pointer;
}

#score,
#highscore {
	position: absolute;
	display: inline;
	top: 70px;
	margin: 0px;
	padding: 0px;
	width: 160px;
}
#highscore {
	left: 180px;
}
#score h2,
#score span,
#highscore h2,
#highscore span {
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 16px;
	height: 21px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	padding-right: 15px;
}
#score span,
#highscore span {
	padding-right: 0px;
}
#highscore span {
	padding-right: 40px;
}
#message {
	position: absolute;
	display: inline;
	top: 413px;
	left: 180px;
	margin: 0px;
	padding: 0px;
	width: 210px;
	height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 20px;
	color: #fff200;
	text-align: center;
}
#message.red {
	color: red;
}

span.combo,
span.fruits {
	position: absolute;
	letter-spacing: 1.5px;
	font-size: 14px;
	color: #89dfff;
	font-weight: normal;
}

#panel,
#home {
	width: 550px;
	height: 690px;
	margin: auto;
	margin-top: 10px;
	left: 0px;
	right: 0px;
	position: absolute;
	padding: 5px 10px 10px 10px;
	background-color: #000;
}
#board,
#canvas-board,
#canvas-paths,
#canvas-fruits,
#canvas-pacman,
#canvas-bubbles,
#canvas-ghost-blinky,
#canvas-ghost-pinky,
#canvas-ghost-inky,
#canvas-ghost-clyde {
	width: 550px;
	height: 550px;
	position: absolute;
}
#canvas-paths {
	display: none;
}
#board {
	position: relative;
}
#sprite {
	display: none;
}

#canvas-lifes,
#canvas-level-fruits {
	height: 30px;
	top: 670px;
	position: absolute;
	z-index: 111111;
}
#canvas-lifes {
	width: 120px;
	left: 50px;
}
#canvas-level-fruits {
	width: 265px;
	right: 50px;
}

h1 {
	margin: 0px 0px 74px 0px;
	padding: 0px;
	font-size: 24px;
	letter-spacing: 3px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}
h3 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}
/*
.ui-mobile {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/
@media screen and (min-height: 1200px), screen and (min-device-height: 1200px) {
	#panel,
	#home {
		zoom: 135%;
	}
}

@media screen and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#panel,
	#home {
		zoom: 105%;
	}
}
@media screen and (max-height: 640px),
	screen and (min-device-height: 480px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	#panel,
	#home {
		zoom: 60%;
	}
}
@media screen and (max-height: 480px), screen and (min-device-height: 320px) and (max-device-height: 480px) {
	#panel,
	#home {
		zoom: 55%;
	}
	#score,
	#highscore {
		top: 0px;
	}
	#panel {
		padding-top: 50px;
	}
	#canvas-lifes,
	#canvas-level-fruits {
		top: 607px;
	}
	#message {
		top: 347px;
	}
}
